<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Reset password</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" th:href="@{/bootstrap-5.1.1-dist/css/bootstrap.min.css}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
</head>
<body class="text-center">

<main class="form-signin">
    <form method="post" th:action="@{/user/reset-password}">
        <img class="mb-4" th:src="@{/img/logo/Nineyards_logo.png}" alt="" width="300" height="26" style="margin: auto">
        <h4 class="h4 mb-3 fw-normal">Reset your password</h4>
        <input type="hidden" class="form-control" id="code" placeholder="" th:value=${code} name="code">
        <div class="form-floating">
            <input type="password" class="form-control" th:value="${passwordMsg!=null?passwordMsg:''}"
                   id="floatingInput" placeholder="" name="password">
            <label for="floatingInput">New password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="" name="confirmPassword">
            <label for="floatingPassword">Confirm password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" style="margin-top: 10px">Reset</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021–2021 Nine Yards</p>
    </form>
</main>


</body>
</html>
