<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 与Dao对应的类一一对应-->
<mapper namespace="com.ELEC5620.dao.CourseMapper">

    <!--注意！这里要按照数据库里的字段来写，而不是entity-->
    <sql id="insertFields">
        name
    </sql>

    <sql id="selectFields">
       id, name
    </sql>

    <select id="selectById" resultType="com.ELEC5620.entity.Courses">
        select
        <include refid="selectFields"></include>
        from course
        where id = #{id}
    </select>


    <!-- id: 对应UserMapper里面那个函数， parameterType: 对应的Entity， keyProperty：主键-->
    <insert id="insertCourse" parameterType="com.ELEC5620.entity.Courses" keyProperty="id">
        insert into course (<include refid="insertFields"></include>)
        values(#{name})
    </insert>

    <update id="updateCourse" parameterType="com.ELEC5620.entity.Courses">
        UPDATE course
        <trim prefix="set" suffixOverrides=",">
            <if test="status!=null">name=#{name},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM course
        WHERE id = #{id}
    </delete>

</mapper>