<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 与Dao对应的类一一对应-->
<mapper namespace="com.ELEC5620.dao.CourseMapper">

    <!--注意！这里要按照数据库里的字段来写，而不是entity-->
    <sql id="insertFields">
        title, content, author_id, author_name
    </sql>

    <sql id="selectFields">
        id, name, content, author_id, author_name
    </sql>

    <select id="selectById" resultType="com.ELEC5620.entity.Topic">
        select
        <include refid="selectFields"></include>
        from topic
        where id = #{id}
    </select>


    <!-- id: 对应UserMapper里面那个函数， parameterType: 对应的Entity， keyProperty：主键-->
    <insert id="insertTopic" parameterType="com.ELEC5620.entity.Topic" keyProperty="id">
        insert into topic (<include refid="insertFields"></include>)
        values(#{title}, #{content}, #{author_id}, #{author_name})
    </insert>

    <update id="updateTopic" parameterType="com.ELEC5620.entity.Topic">
        UPDATE topic
        <trim prefix="set" suffixOverrides=",">
            <if test="status!=null">title=#{title},</if>
            <if test="status!=null">content=#{content},</if>
            <if test="status!=null">author_id=#{authorId},</if>
            <if test="status!=null">author_name=#{authorName},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE
        FROM topic
        WHERE id = #{id}
    </delete>

</mapper>